/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #064559,
    #3DCAF5,
    #8ed0e4,

  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topMenu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
button {
  background-color: white;
  border-radius: 5px;
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.LoginRegisterContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.Form {
  height: 1.5rem;
  transition: height 10s linear;
}
#LoginTitle{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.Register.active {
  height: 7rem
}
button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

#LogoutButton{
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.ConfigInfo {
  background-color: gray;
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 10px;
}

.ConfigInfo > Button {
  background-color: white;
  border: 2px solid black;
  float: right;
  justify-content: center;
  align-items: center;
}
