/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background-image: linear-gradient(
    200.96deg,
    #064559,
    #3DCAF5,
    #8ed0e4
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#TopMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

}

#PowerOffButton{
  max-width: 50%;
  justify-self: left;
}
#WirelessSettingsButton{
  justify-self: right;
  max-width: 50%;
}

button {
  background-color: white;
  border-radius: 5px;
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

#root{
  height: 100%;
  width: 100%;
}

.home{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LoginRegisterContainer{
  height: 300px;
  width: 100%;
  text-align: center;
}

#internetStatus{
  display: inline-block;
  width: 50%;
  flex-grow: 1;
}

.LoginRegister{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}
.LoginButton{
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all ease-in 0.1s;
  opacity: 0.9;
  height: 75px;
  width: 150px;
}

.Form {
  height: 1.5rem;
  transition: height 10s linear;
}
#LoginTitle{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.Register.active {
  height: 7rem
}
button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

#LogoutButton{
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.ConfigInfo {
  background-color: gray;
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column
}

.ConfigInfo > Button {
  background-color: white;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}

.InitialInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.AdditionalInfo{
  width: 100%;
}

.NetworkInfo{
  border: solid 1px black;
  padding: 5px;
  color: black;
}
#WifiSettings{
  color: black;
}
.SignalIcon{
  height: 20px;
  width: 25px;
}
#WifiSettings {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.CreateSystemFormContent, .WifiSettingsContent{
  background-color: #8ed0e4;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #064559;
  width: 50%; /* Could be more or less, depending on screen size */
}
.ErrorPopupContent{
  background-color: #064559;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #e94040;
  width: 60%; /* Could be more or less, depending on screen size */
  text-align: center;
  color: #e94040;
}

.CloseErrorPopup{
  color: #8ed0e4;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.CloseCreateSystemForm, .CloseWifiSettings {
  color: #064559;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.CloseCreateSystemForm:hover,.CloseCreateSystemForm:focus,
.CloseWifiSettings:hover, .CloseWifiSettings:focus,
.CloseErrorPopup:hover, .CloseErrorPopup:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#CreateSystemForm {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#ErrorPopup{
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.Loader {
  border: 16px solid #8ed0e4;
  border-top: 16px solid #064559; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s infinite ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  0% { border-top: 16px solid #064559;}
  50% { border-top: 16px solid #3DCAF5;}
  100% { border-top: 16px solid #064559;}
}

