<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Nephos Connect v0.6</title>
  </head>
  <body>
    <div id="root">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="app">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
